* {
    margin: 0;
    padding: 0;
}

.cards {
    margin: 10px;

    width: 200px;
    text-align: center;
    border: 2px solid rgb(225, 206, 206);
    border-radius: 10px;
}

.card-imgs {
    height: 150px;
    width: 170px;
}

.loading-page {
    height: 95vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 431px) {
    .cards {
        width: 157px;
    }

    .card-imgs {
        width: 134px;
    }
}